body {
  margin: 0;
  color: white;
  font-family: "Frutiger 55", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Big John PRO Regular';
  src: url('./assets/fonts/BigJohnPRO-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Big John PRO Light';
  src: url('./assets/fonts/BigJohnPRO-Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Big John PRO Bold';
  src: url('./assets/fonts/BigJohnPRO-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Frutiger Normal';
  src: url('./assets/fonts/Frutiger-Normal.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Frutiger 55';
  src: url('./assets/fonts/Frutiger55.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Frutiger 65 Bold';
  src: url('./assets/fonts/Frutiger65.otf');
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
